@import url(https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap);

* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

*img {
    max-width: 100%;
}

:root {
    --bg-color    : #121B25;
    --accent-color: #15786C;
    --text-collor : #D6D6D6;
}

body {
    font-family     : 'Work Sans', sans-serif;
    background-color: var(--bg-color);
    position        : relative;
    color           : #fff;

    &._lock {
        overflow: hidden;
    }
}

[class*="_container"] {
    max-width: 1450px;
    margin   : 0 auto;
    padding  : 0 15px;
}

/****************************Общие классы*********/
.text {
    font-weight: 400;
    font-size  : 18px;
    line-height: 1.7;
    color      : var(--text-collor);
}

.title {
    font-weight: 600;
    font-size  : clamp(1.875rem, 1.548rem + 1.64vw, 3rem);
    line-height: 126%;


    text-transform: capitalize;

    color: #FFFFFF;
}



/***********************************header***************************/
.header {
    padding: clamp(1.25rem, 0.886rem + 1.82vw, 2.5rem) 0;

    &_container {
        display        : flex;
        justify-content: space-between;
        align-items    : center;
        gap            : 20px;
    }

    &_logo {
        max-width: 200px;


    }

    &_navigation {
        display    : flex;
        gap        : clamp(1.25rem, -2.799rem + 8.44vw, 4.688rem);
        align-items: center;
    }

    &_menu {}

    &_buttons {
        display: flex;
        gap    : 5px;
    }

    &_btn {
        padding         : 11px 20px;
        color           : #fff;
        border          : 2px solid var(--accent-color);
        background-color: transparent;
        transition      : background-color .2s;
        cursor          : pointer;

        @media(max-width:576px) {
            padding: 7px 15px;
        }
    }
}

.menu {
    @media(max-width:992px) {
        position        : absolute;
        top             : 0;
        left            : -100%;
        height          : 100vh;
        width           : 80%;
        display         : flex;
        overflow        : auto;
        padding         : 20px 0;
        background-color: var(--accent-color);
        transition      : left .2s;
        z-index         : 100;

        &._active {
            left: 0;
        }
    }

    &-icon {
        display: none;

        @media (max-width: 992px) {
            display : block;
            height  : 18px;
            width   : 30px;
            position: relative;
            cursor  : pointer;
            z-index : 5;

            span {
                transition      : all 0.3s ease 0s;
                top             : calc(50% - 1px);
                left            : 0;
                position        : absolute;
                width           : 100%;
                height          : 2px;
                background-color: #fff;

                &:first-child {
                    top: 0;
                }

                &:last-child {
                    top   : auto;
                    bottom: 0;
                }
            }

            &._active {
                span {
                    transform: scale(0);

                    &:first-child {
                        transform: rotate(-45deg);
                        top      : calc(50% - 1px);
                    }

                    &:last-child {
                        transform: rotate(45deg);
                        bottom   : calc(50% - 1px);
                    }
                }
            }
        }
    }

    &_body {
        display    : flex;
        align-items: center;
        gap        : 40px;

        @media(max-width:992px) {
            flex-direction: column;
            margin        : auto;

        }
    }

    &_item {}

    &_link {
        font-weight    : 500;
        font-size      : 16px;
        text-transform : capitalize;
        color          : var(--text-collor);
        text-decoration: none;
        transition     : color .2s;
        position       : relative;

        &:before {
            content         : '';
            position        : absolute;
            bottom          : -5px;
            left            : 0;
            right           : 0;
            background-color: var(--accent-color);
            height          : 3px;
            opacity         : 0;
            visibility      : hidden;
            transition      : opacity .2s;
        }

        @media(any-hover:hover) {
            &:hover {
                color: #fff;

                &:before {
                    opacity   : 1;
                    visibility: visible;
                }
            }
        }

        @media(max-width:992px) {
            line-height: 50px;
            font-size  : 30px;
        }
    }
}

.login {
    @media(any-hover:hover) {
        &:hover {
            background-color: var(--accent-color);

        }
    }

    @media(max-width:425px) {
        display: none;
    }
}

.register {
    background-color: var(--accent-color);

    @media(any-hover:hover) {
        &:hover {
            background-color: transparent;
        }
    }
}

/************************************HERO******************************/
.page {}


.hero {
    margin-top    : clamp(1.25rem, 0.25rem + 5vw, 4.688rem);
    padding-bottom: clamp(1.25rem, -0.023rem + 6.36vw, 5.625rem);
    position      : relative;

    .hero-deco {
        position: absolute;
        bottom  : -150px;
        right   : 0;
        z-index : -1;

        @media(max-width:576px) {
            height: 300px;
        }
    }

    // .hero__container
    &__container {
        display        : flex;
        justify-content: space-between;
        align-items    : center;

        @media (max-width: 992px) {
            flex-direction: column;
        }
    }

    // .hero__content
    &__content {
        flex          : 0 0 calc(700px / 1420px * 100%);
        padding-bottom: 160px;

        @media (max-width: 992px) {
            padding-bottom: 20px;
        }
    }

    // .hero__title
    &__title {
        font-weight   : 600;
        font-size     : clamp(1.875rem, 1.184rem + 3.45vw, 4.25rem);
        line-height   : 1.26;
        text-transform: capitalize;
    }

    // .hero__text
    &__text {
        margin-top: 18px;
    }

    // .hero__filter
    &__filter {
        height          : 100px;
        width           : 880px;
        background-color: #fff;
        margin-top      : clamp(1.875rem, 1.33rem + 2.73vw, 3.75rem);
        position        : absolute;

        @media (max-width: 992px) {
            width   : 100%;
            position: static;
        }
    }

    // .hero__img
    &__img {
        flex: 0 0 calc(700px / 1420px * 100%);

        @media (min-width: 768px) and (max-width: 992px) {
            display: none;
        }
    }
}

/*--------------------/Hero--------------------*/

/*--------------------Filter--------------------*/

.filter {
    display              : grid;
    grid-template-columns: 1fr 1fr 1fr 165px;
    color                : #000;

    @media (max-width: 576px) {
        grid-template-columns: repeat(3, 1fr);
        padding              : 10px;
        height               : auto;
    }

    @media (max-width: 475px) {
        grid-template-columns: 1fr;
        gap                  : 10px;
    }

    // .filter__block
    &__block {
        &:nth-child(2) {
            border-right: 1px solid #e8e8e8;
            border-left : 1px solid #e8e8e8;
        }
    }

    // .filter__btn
    &__btn {
        padding: 5px;

        button {
            cursor          : pointer;
            background-color: var(--accent-color);
            height          : 100%;
            width           : 100%;
            border          : none;
            font-weight     : 500;
            font-size       : 24px;
            text-transform  : capitalize;
            color           : #ffffff;
            padding         : 10px;

            &:active {
                background-color: #15786c;
            }
        }

        @media (max-width: 576px) and (min-width: 475px) {
            grid-column: 1/4;
        }
    }
}

.block-filter {
    position: relative;

    // .block-filter__button
    &__button {
        padding        : 0 clamp(0.625rem, 0.08rem + 2.73vw, 2.5rem);
        display        : flex;
        justify-content: center;
        height         : 100%;
        flex-direction : column;
        cursor         : pointer;
    }

    // .block-filter__header
    &__header {
        display    : flex;
        align-items: center;
    }

    // .block-filter__type
    &__type {
        padding-right: 2px;
        font-size    : 16px;
        color        : #858585;
    }

    // .block-filter__icon
    &__icon {
        width     : 10px;
        height    : 7px;
        background: url("../img/icons/arrowdow.svg") center bottom no-repeat;
        transition: transform 0.2s;

        &._active {
            transform: rotate(180deg);
        }
    }

    // .block-filter__value
    &__value {
        color         : var(--bg-color);
        font-weight   : 600;
        font-size     : 18px;
        text-transform: capitalize;
    }

    // .block-filter__dropdown
    &__dropdown {
        position        : absolute;
        z-index         : 3;
        top             : 100%;
        left            : 0;
        right           : 0;
        background-color: #fff;
        border-radius   : 5px;
        overflow        : hidden;
        opacity         : 0;
        visibility      : hidden;
        pointer-events  : none;
        transition      : all 0.2s;
        box-shadow      : 0 0 5px 1px #000;

        &._active {
            opacity       : 1;
            visibility    : visible;
            pointer-events: all;
            transform     : translateY(5px);
        }
    }

    // .block-filter__item
    &__item {
        padding       : 10px;
        transition    : background-color 0.2s;
        text-transform: capitalize;
        cursor        : pointer;

        @media (any-hover: hover) {
            &:hover {
                background-color: #adadad;
            }
        }
    }
}

/**************featured***************************/
.featured {
    padding-top: clamp(1.25rem, -0.023rem + 15vw, 5.625rem);

    padding-bottom: clamp(1.875rem, -0.852rem + 13.64vw, 11.25rem);

    &_container {}

    &_title {}

    &_box {
        margin-top     : clamp(2.188rem, 1.824rem + 1.82vw, 3.438rem);
        display        : flex;
        justify-content: space-between;
        gap            : 30px;
        align-items    : center;
        overflow       : auto;
    }

    &_item {
        flex: 0 0 auto;
    }

    &_img {}
}

.title {}

/************slide**************************/
.popular {
    padding: clamp(1.875rem, -0.489rem + 11.82vw, 10rem) 0;


    background: #1a242F url(../img/slider/slide-bg.png) center center/cover no-repeat;

    &_container {}

    &_slider {
        margin-top: 40px;
        position  : relative;
    }

    &_link {
        text-align: center;
        margin-top: 45px;
    }

    &_link a {
        display         : inline-block;
        padding         : 22px 42px;
        color           : #fff;
        font-weight     : 500;
        font-size       : 24px;
        line-height     : 28px;
        text-transform  : capitalize;
        margin          : 0 auto;
        text-decoration : none;
        background-color: var(--accent-color);
        transition      : all .2s;

        @media (any-hover: hover) {
            &:hover {
                background-color: #124d46;
            }
        }
    }
}

.featured {


    &_title {}
}

.title {}

.swiper {
    overflow: hidden;
}

.swiper-wrapper {
    display: inline-flex;
}

.swiper-slide {}

.popular-slider-prev {
    position: absolute;
    left    : -130px;
}

.popular-slider-next {
    position : absolute;
    right    : -130px;
    transform: rotate(180deg);
}




.slider_buttons {
    cursor         : pointer;
    position       : absolute;
    top            : 30%;
    display        : flex;
    justify-content: space-between;
    width          : 100%;

    @media(max-width:1800px) {
        top  : -100px;
        right: 0;
        width: auto;
        gap  : 30px;
    }
}

.slider {

    &_buttons {}
}

.swiper-slide {}

.popular-slide {
    display       : flex;
    flex-direction: column;
    gap           : 27px;

    @media(max-width:660px) {
        text-align: center;
    }

    &_thumb {}

    &_text {}

    &_title {
        font-weight   : 600;
        font-size     : 26px;
        line-height   : 1.26;
        letter-spacing: 0.01em;
        text-transform: capitalize;

    }

    &_desc {}

    &_labels {
        display  : flex;
        gap      : 20px;
        flex-wrap: wrap;

        @media(max-width:660px) {
            justify-content: center;
        }


    }

    &_label {
        display    : flex;
        gap        : 4px;
        align-items: center;
    }
}

.popular-slider-btn {
    width        : 78px;
    height       : 78px;
    border-radius: 50%;
    background   : url(../img/icons/arrowslide.svg)left 30px center no-repeat;
    border       : 1px solid #fff;

    @media(max-width:1800px) {
        position: static;

    }

    @media(max-width:660px) {
        display: none;
    }

}

/***********************************WHY*/
.why {
    padding-top   : clamp(1.875rem, -0.852rem + 13.64vw, 11.25rem);
    padding-bottom: clamp(1.875rem, 0.693rem + 5.91vw, 5.938rem);

    &_container {}

    &_title {
        text-align: center;
    }

    &_body {
        display        : flex;
        justify-content: space-between;
        align-items    : flex-start;
        margin-top     : clamp(1.875rem, 1.33rem + 2.73vw, 3.75rem);
        gap            : clamp(1.25rem, 0.705rem + 10vw, 3.125rem);

        @media(max-width:768px) {
            flex-direction: column;
        }
    }

    &_item {}
}

.title {}

.item-why {
    display       : flex;
    align-items   : center;
    text-align    : center;
    flex-direction: column;
    flex          : 0 0 calc(376px / 1420px * 100%);

    &_img {
        width          : clamp(6.25rem, 4.795rem + 7.27vw, 11.25rem);
        aspect-ratio   : 1;
        display        : flex;
        align-items    : center;
        justify-content: center;
        position       : relative;
        margin-bottom  : clamp(1.563rem, 1.362rem + 1vw, 2.25rem);

        svg {
            width : 40%;
            height: 40%;
        }

        &:before {
            content         : '';
            width           : 100%;
            height          : 100%;
            border-radius   : 50%;
            display         : block;
            position        : absolute;
            background-color: var(--accent-color);
            opacity         : 0.12;

        }
    }

    &_title {
        font-weight   : 600;
        font-size     : 26px;
        letter-spacing: 0.01em;
        text-transform: capitalize;

    }

    &_text {}
}

.text {
    margin-top: 11px;
}

/**********************reviews*****************/
.reviews {
    position      : relative;
    padding-bottom: clamp(1.875rem, -0.852rem + 13.64vw, 11.25rem);

    .reviews-deco {
        position: absolute;
        top     : -500px;
        left    : 0;
        z-index : -1;

        @media(max-width:475px) {
            width: 100%;
        }
    }

    .swiper-wrapper {
        align-items: flex-start;
    }

    &_container {
        max-width  : 1020px;
        margin     : 0 auto;
        position   : relative;
        padding-top: 195px;
    }

    &_quotes {
        position      : absolute;
        top           : 0;
        left          : 0;
        font-size     : 260px;
        text-transform: capitalize;

        color: var(--accent-color);
    }

    &_slider {}
}

.slider-reviews {

    &_slide {}

    &_text {

        font-size     : clamp(1.25rem, 1.032rem + 1.09vw, 2rem);
        line-height   : 1.57;
        text-transform: capitalize;
    }

    &_info {
        margin-top: 40px;
    }

    &_name {

        font-size: 22px;

        letter-spacing: 0.01em;
        text-transform: capitalize;
    }

    &_job {}

    &_buttons {
        display    : flex;
        gap        : 70px;
        width      : 115px;
        position   : relative;
        height     : 60px;
        align-items: center;
        position   : absolute;
        bottom     : 0;
        right      : 15px;

        &::before {
            content   : '';
            position  : absolute;
            top       : 0;
            bottom    : 0;
            left      : 50%;
            background: #353F49;
            width     : 1px;
        }
    }
}

.swiper {}

.swiper-wrapper {}

.swiper-slide {}

.slider-reviews-btn {


    svg {
        fill: #fff;
    }

    &.swiper-button-disabled {
        svg {
            fill: #767F89;
        }
    }
}

.slider-reviews-prev {
    transform: translateY(-3px) rotate(180deg);
}

/****************************Gallery******************/


.gallery {
    background: linear-gradient(270deg, #1A242F 0.01%, rgba(26, 36, 47, 0) 82.97%);
    padding   : clamp(1.875rem, -0.489rem + 11.82vw, 10rem) 0;

    &_container {
        display    : flex;
        align-items: center;
        gap        : 63px;

        @media(max-width:992px) {
            flex-direction: column;
        }
    }

    &_box {
        display        : flex;
        align-items    : center;
        gap            : 20px;
        justify-content: space-between;
        width          : calc(720px / 1420px * 100%);

        @media(max-width:992px) {
            width: 100%;
        }
    }

    &_item {
        flex        : 0 0 47%;
        aspect-ratio: 7/11;

        .swiper-wrapper {
            position: relative;
        }

        img {
            height    : 100%;
            object-fit: cover;
            width     : 100%;
        }
    }

    &_info {
        @media(max-width:475px) {
            text-align: center;
        }

    }

    &_title {
        max-width: 520px;

        @media(min-width:991px) {
            max-width: 520px;
        }
    }

    &_text {
        margin-top: 22px;
    }

    &_link {
        display         : inline-block;
        margin-top      : 45px;
        padding         : 22px 42px;
        background-color: var(--accent-color);
        text-decoration : none;
        color           : #fff;
        font-weight     : 500;
        font-size       : 24px;

        text-transform: capitalize;

        color: #FFFFFF;
    }
}

.link {
    display         : inline-block;
    margin-top      : 45px;
    padding         : 22px 42px;
    background-color: var(--accent-color);

    text-decoration: none;
    color          : #fff;
    font-weight    : 500;
    font-size      : 24px;
    text-transform : capitalize;
    transition     : .2s all;

    @media(any-hover:hover) {
        &:hover {
            background-color: rgb(6, 59, 46);
        }
    }
}

/***************************BEGIN****************************/
.begin {
    position: relative;
    padding : clamp(1.875rem, -0.852rem + 13.64vw, 11.25rem) 0;

    .begin-wave {
        position: absolute;
        bottom  : -250px;
        left    : 0;
        z-index : -1;

        @media(max-width:475px) {
            width: 300px;
        }
    }

    .begin-rect {
        position: absolute;
        top     : -77px;
        right   : 0;

        @media(max-width:475px) {
            display: none;
        }
    }

    &_container {
        display        : flex;
        align-items    : center;
        justify-content: space-between;
        gap            : 40px;
        max-width      : 1240px;

        @media(max-width:768px) {
            flex-direction: column;
            text-align    : center;
        }
    }

    &_slogan {
        font-weight: 600;
        font-size  : clamp(1.875rem, 1.184rem + 3.45vw, 4.25rem);
        line-height: 1.26;


        text-transform: capitalize;
    }

    &_content {
        flex: 0 0 50%;
    }

    &_text {}

    &_link {
        margin-top: 50px;
    }
}

/**************************footer*************/
.footer {


    background-color: #1A242F;
    padding-top     : clamp(1.875rem, -0.125rem + 10vw, 8.75rem);



    &_main {}

    .main-footer_container {
        display              : grid;
        grid-template-columns: repeat(5, 1fr);
        gap                  : clamp(1.875rem, -14.494rem + 26.19vw, 8.75rem);
        padding-bottom       : clamp(1.875rem, 0.784rem + 5.45vw, 5.625rem);

        @media(max-width:992px) {
            grid-template-columns: repeat(4, 1fr);
        }

        @media(max-width:600px) {
            display       : flex;
            flex-direction: column;
            align-items   : center;
            text-align    : center;
        }
    }

    &_block {


        @media(max-width:992px) {
            grid-column: 1/5;

            &:not(:first-child) {
                grid-row   : 2/3;
                grid-column: auto;
            }
        }
    }

    &_link {}

    &_text {

        margin: 22px 0 32px;

        @media(min-width:992px) {
            width: 340px;
        }
    }

    &_socials {
        display    : flex;
        align-items: center;
        gap        : 30px;

        @media(max-width:600px) {
            justify-content: center;
        }
    }

    &_social {
        text-decoration: none;

        svg {
            fill      : #555E68;
            transition: fill .2s;
        }

        @media(any-hover:hover) {
            &:hover {
                svg {
                    fill: #fff;
                }
            }
        }
    }

    &_copyright {
        padding   : 15px 0px;
        border-top: 1px solid #303A44;


        .copyright_container {
            display        : flex;
            justify-content: space-between;
            align-items    : center;

            @media(max-width:690px) {
                flex-direction: column;
                gap           : 30px;
            }
        }
    }
}

.text {}

.links-footer {

    &_header {
        display    : inline-block;
        font-weight: 600;
        font-size  : 26px;

        letter-spacing : 0.01em;
        text-transform : capitalize;
        text-decoration: none;
        color          : #FFFFFF;
        margin-bottom  : 11px;
    }

    &_list {}

    &_item {}

    &_link {
        white-space    : nowrap;
        text-decoration: none;
        font-size      : 18px;
        transition     : all .2s;

        @media(any-hover:hover) {
            &:hover {
                color: #fff;
            }
        }
    }
}